* {
    box-sizing: border-box;
}

:root {
    --pt: 0.0625rem;
    --app-padding: 16px;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13pt;
}

div.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

div.content {
    flex: auto;
    padding: var(--app-padding);
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
}

table {
    width: 100%;
    margin: 0;
    font-size: calc(35 * var(--pt));
    text-align: center;
}

td {
    padding-top: 16px;
}

tr:first-child > td {
    padding-top: 0;
}

td > input {
    width: 2em;
    text-align: end;
}

td.label {
    text-align: start;
}

td.input {
    text-align: end;
}

td.rest-plus::before {
    content: "-";
    color: white;
}

td.time {
    text-align: end;
}

button {
    --margin: 12px;
}

div.one-line > button {
    margin-left: var(--margin);
}

div.one-line > button:first-child {
    margin-left: 0;
}

.one-line {
    width: 100%;
    margin-top: 12px;
}

.one-line:first-child {
    margin-top: 0;
}

button.third-line {
    width: calc((100% - 2 * var(--margin)) / 3);
}

.step-yet {
    color: black;
}

.step-current {
    color: darkred;
}

.step-done {
    color: grey;
}

footer.control {
    flex: none;
    bottom: 0;
    padding: var(--app-padding);
    width: 100%;
}
